<!-- move_base.launch: launch move_base with our navigation node -->
<launch>

   <!-- <master auto="start"/> -->
   <param name="/use_sim_time" value="true"/>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- <rosparam file="$(find gradient_based_traversability_analysis)/navigation_configs/costmap_common_params.yaml" command="load" ns="global_costmap" />  -->
    <!-- <rosparam file="$(find gradient_based_traversability_analysis)/navigation_configs/costmap_common_params.yaml" command="load" ns="local_costmap" /> -->
    <rosparam file="$(find gradient_based_traversability_analysis)/navigation_configs/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find gradient_based_traversability_analysis)/navigation_configs/global_costmap_params.yaml" command="load" /> 
    <!-- <rosparam file="$(find gradient_based_traversability_analysis)/navigation_configs/base_local_planner_params.yaml" command="load" /> -->
     <!-- <rosparam file="$(find gradient_based_traversability_analysis)/navigation_configs/static_map_params.yaml" command="load" ns="global_costmap/static_layer" /> -->
    <rosparam file="$(find gradient_based_traversability_analysis)/navigation_configs/move_base_params.yaml" command="load" />
   </node>

</launch>