<!-- move_base.launch: launch move_base with our navigation node -->
<launch>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navigation_final_semfire_pilot)/navigation_configs/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation_final_semfire_pilot)/navigation_configs/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find navigation_final_semfire_pilot)/navigation_configs/move_base_params.yaml" command="load" />
   </node>

</launch>